.centerSt{
	font-size:40px;
	color:#FFFFFF;
	width:400px;
	margin:auto;
	position:relative;
	top:200px;
}

.center{
	margin:auto;
	width:250px;
	height:50px;
}

.btn_center{
	background-color:transparent;
	border:#FFF solid 1px 0;
	color:#FFF;
	width:250px;
	height:50px;
	margin:auto;
	position:relative;
	top:250px;
	font-size:20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}